body {
}
*{
    outline:none;
}
main{
    padding:0px !important;


}
.profile-header {
    height: 160px;
    width: 100%;
    background-color: rgb(44, 48, 52);
    overflow:hidden;
}
.profile-content{
    height:83%;
}
.profile-content-item{
    display:none;
}
.profile-data-wrap{
    height:80%;
    width:1300px;
    display:flex;
    flex-flow:row;
    align-items:center;
    justify-content:space-between;
    padding-left:3rem;
    padding-right:3rem;

}
.profile-data{
    display:flex;
    flex-flow:row;
    align-items:center;
}
.profile-info{
    margin-left:2rem;
}
.profile-name {
    color: rgba(255,255,255,0.8);
    font-size: 2rem;
}

.profile-description {
    margin-top: 3px;
    color: rgba(255,255,255,0.8);
    font-size: 1.6rem;
}
.profile-image img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
.profile-edit{
    text-align:center;
    display:block;
    width:100px;
    font-size:1.3rem;
    background-color:forestgreen;
    color:white;
    padding:5px;
    outline:none;
    border-style:none;
    cursor:pointer;
    text-decoration:none;
    margin-bottom:5px;
}
.profile-edit:hover {
    background-color: darkgreen;
}
.team-leave{
    width:100px;
    font-size:1.3rem;
    padding:5px;
    background-color:red;
    color:white;
    outline:none;
    border:none;
    cursor:pointer;
}
.team-leave:hover{
    background-color:darkred;
}
.leave-wrap{
    width:100%;
    padding-top:20rem;
    text-align:center;
    color:white;
}
.leave-wrap p{
    font-size:1.6rem;
    margin-bottom:5rem;
}
.disabandon-team {
    color: white;
    background-color: red;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.disabandon-team:hover {
    background-color: darkred;
}
.transfer-team-ownership {
    color: white;
    background-color: forestgreen;
    padding: 5px;
    border: none;
    outline: none;
    cursor:pointer;
}
.transfer-team-ownership:hover{
    background-color:darkgreen;
}
.ownership-transfer-error{
    color:red;
    font-size:1.4rem;
}
.disabandon-wrap {
    width: 100%;
    padding-top: 20rem;
    text-align: center;
    color: white;
}
.disabandon-wrap p {
    font-size: 1.6rem;
    margin-bottom: 5rem;
}
#disabandon-yes {
    color: white;
    background-color: red;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
#disabandon-yes:hover {
    background-color: darkred;
}
#disabandon-no {
    color: white;
    background-color: forestgreen;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
#disabandon-no:hover {
    background-color: darkgreen;
}
.transfer-ownership-wrap {
    width: 100%;
    padding-top: 15rem;
    text-align: center;
    color: white;
}
.transfer-ownership-wrap p {
    font-size: 1.6rem;
    margin-bottom:5px;
}
.transfer-membername {
    margin: 0 auto;
    display: block;
    height: 35px;
    width: 400px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: #B9BBBE;
    padding: 10px;
    margin-bottom:3rem;
    margin-top: 3rem;
}
.transfer-confirm {
    color: white;
    background-color: red;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.transfer-confirm:hover{
    background-color:darkred;
}
.transfer-cancel {
    color: white;
    background-color: forestgreen;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.transfer-cancel:hover {
    background-color: darkgreen;
}
.profile-navigation {
    height: 32px;
    width: 100%;
    background-color: rgb(41,45,48);
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
}
.profile-nav-item{
    color:white;
    font-size:1.4rem;
    min-width:100px;
    text-align:center;
    height:100%;
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
}
.profile-nav-item:hover {
    background-color: rgb(61, 64, 68);
}
.profile-nav-item.active {
    background-color: rgb(61, 64, 68);
}
.profile-nav-item button {
    color: white;
    font-size: 1.4rem;
    min-width: 100px;
    text-align: center;
    height: 100%;
    background-color: transparent;
    border-style:none;
}
/*.profile-nav-item button:hover {
    background-color: rgb(61, 64, 68);
}*/
.profilenav-button.active {
    background-color:rgb(61, 64, 68);
}

/*If user is not member*/
.nonmember-wrap {
    margin-left: 400px;
    margin-top: 150px;
    width: 50rem;
    height: 50rem;
    background-color: rgb(35,39,42);
    border-radius: 20px;
    padding-top:5rem;
}
.nonmember-img{
    width:100px;
    margin:0 auto;
}
.nonmember-img img {
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
.nonmember-data{
    padding-top:3rem;
    width:100%;
    text-align:center;
}
.nonmember-name{
    font-size:2rem;
    color:rgba(255,255,255,0.7);
}
.nonmember-description {
    font-size: 1.8rem;
    color: rgba(255,255,255,0.7);
}
.nonmember-msg {
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    font-size: 1.6rem;
    color: rgba(255,255,255,0.7);
}
.request-join{
    width:100%;
    margin:0 auto;
}
.request-button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding: 7px;
    background-color: forestgreen;
    outline: none;
    border: none;
    color: white;
}
.request-button:hover{
    background-color:darkgreen;
}
.request-button:disabled {
    cursor: default;
    background-color: darkgreen;
    color: rgba(255,255,255,0.7);
}
/*Members tab*/
.member-list {
    margin: 1.5rem auto;
    border: none;
    display: block;
    width: 80%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.member-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items:center;
    height: 100px;
    width: 70%;
    background-color: rgb(52,55, 57);
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.member-info {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.member-image {
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: center;
}

.member-info p {
    font-size: 1.7rem;
    color: white;
}
.member-item-controls{
    margin-right:2rem;
}
.member-item-options {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(38,41,43);
    border: none;
    display:flex;
    flex-flow:row;
    align-items:center;
    justify-content:space-evenly;
    cursor:pointer;
}
.member-item-options:hover {
    background-color:rgb(23,24,25);
}
.dot{
    background-color:white;
    height:5px;
    width:5px;
    border-radius:50%;
}
.member-options {
    width: 150px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.member-dropdown {
    display: none;
    position: absolute;
    width: 200px;

}
.member-dropdown-item {
    display: block;
    border: none;
    background-color: rgb(30,32,34);
    color: white;
    width: 100%;
    height: 40px;
    
}
.member-dropdown-item:hover {
    background-color: rgb(51,54,57);
}
/*Pending*/
.pending-members {
    margin-left: 17rem;
    margin-top: 1rem;
    padding: 5px;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    height: 26.6px;
}
.pending-members:hover{
    background-color:darkgreen;
}
.freeagent-button {
    margin-top: 1rem;
    padding: 5px;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    height: 26.6px;
}
.freeagent-button:hover {
    background-color: darkgreen;
}
/*Requests modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: rgb(35,39,42);
    margin: auto;
    padding: 20px;
    border: solid gray 1px;
    width: 60%;
    height: 600px;
}

.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Requests*/
.pending-members-empty {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 25rem;
}
.request-items {
    height: 90%;
    width: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.request-item {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;
    justify-content: space-between;
    border-top: solid gray 1px;
    align-items: center;
}

.request-item:hover {
    background-color: rgb(46, 51, 55);
}

.request-data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.request-image {
    width: 100px;
}

.request-image img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}

.request-msg {
    color: white;
    font-size: 1.6rem;
}

.request-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.accept-request {
    outline: none;
    border-radius: 50%;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    background-color: violet;
    margin-right: 1rem;
}

.accept-request:hover {
    background-color: rgb(224, 104, 224);
}

.decline-request {
    outline: none;
    border-radius: 50%;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(38,41,43);
}

.decline-request:hover {
    background-color: rgb(23,24,25);
}

.accept-request-ico {
    background: url('/Content/Images/request-accept-ico.png');
    background-size: 15px 15px;
    float: left;
    width: 15px;
    height: 15px;
    display: block;
}

.decline-request-ico {
    background: url('/Content/Images/request-decline-ico.png');
    background-size: 15px 15px;
    float: left;
    width: 15px;
    height: 15px;
    display: block;
}

.teamrequest-msg {
    color: white;
    font-size: 1.6rem;
}
/*Free Agents*/
.freeagent-items{
    height:90%;
    width:90%;
    overflow-x:hidden;
    overflow-y:scroll;
}
.freeagent-item {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;
    justify-content: space-between;
    border-top: solid gray 1px;
    align-items: center;
}
.freeagent-item:hover{
    background-color: rgb(46, 51, 55);
}
.freeagent-data{
    display:flex;
    align-items:center;
}
.freeagent-image {
    height: 80px;
    width: 80px;
    padding: 10px;
}
.freeagent-image img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}
.freeagent-name{
    font-size:1.4rem;
    color:white;
}
.freeagent-location{
    font-size:1.5rem;
    color:white;
}
.freeagent-invite{
    outline:none;
    border:none;
    background-color:forestgreen;
    padding:5px;
    color:white;
}
.freeagent-emptymsg{
    text-align:center;
    font-size:1.6rem;
    color:white;
    padding-top:25rem;
}
select {
    background-color: rgb(35,39,42);
    color: white;
    border: none;
    padding: 5px;
    width: 200px;
    height: 40px;
    margin-bottom: 1rem;
}
.freeagent-invite:hover {
    background-color: darkgreen;
}
/*Matches*/
.matches-list {
    margin: 1.5rem auto;
    border: none;
    display: block;
    width: 80%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.match-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items:center;
    height: 100px;
    width: 70%;
    background-color: rgb(52,55, 57);
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}
.match-team1{
    margin-left:1rem;
    display:flex;
    align-items:center;
}
.match-team2 {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}
.match-team-image {
    margin-left:1rem;
    margin-right:1rem;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: center;
}
.match-team-name{
    color:white;
    font-size:1.5rem;
}
.match-info{
    text-align:center;
    color:white;
    font-size:1.4rem;
}
/*matches modal create*/
.create-match-inputs{
    padding:10rem;
    text-align:center;
    width:90%;
    height:90%;
    margin:0 auto;
}
.create-match-inputs input {
    margin: 0 auto;
    display: block;
    height: 35px;
    width: 400px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: #B9BBBE;
    padding: 10px;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}
.create-match-inputs button {
    display: block;
    background-color: forestgreen;
    color: white;
    border: none;
    outline: none;
    margin: 1rem auto;
    font-size: 1.5rem;
    padding: 5px;
    cursor: pointer;
}
.create-match-inputs button:disabled {
    background-color: rgb(2, 58,2);
    color: rgba(255,255,255,0.7);
}

.create-match-inputs button:disabled:hover {
    background-color: rgb(2, 58,2);
    color: rgba(255,255,255,0.7);
}

.create-match-inputs button:hover {
    background-color: darkgreen;
}
.create-match-inputs h1{
    color:white;
}
.creatematch-errors {
    margin: 1rem;
}
.creatematch-error {
    font-size: 1.4rem;
    color: red;
    margin-bottom: 5px;
}
.creatematch-success {
    font-size: 1.4rem;
    color: green;
    margin-bottom: 5px;
}
.creatematch-button {
    margin-top: 1rem;
    padding: 5px;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    height:26.6px;
}
.creatematch-button:hover{
    background-color:darkgreen;
}
/*Pending matches*/
.pending-matches-button {
    margin-left: 17rem;
    margin-top: 1rem;
    padding: 5px;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    height:26.6px;
}
.pending-matches-button:hover{
    background-color: darkgreen;
}
.pending-matches{
    width: 85%;
    height: 85%;
    margin: 2rem auto;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-shrink: 0;
}

.pending-match {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;
    justify-content: space-between;
    border-top: solid gray 1px;
    align-items: center;
}

.pending-match:hover {
    background-color: rgb(46, 51, 55);
}

.pending-match-data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pending-match-image {
    width: 100px;
}

.pending-match-image img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}

.pending-match-info {
    color: white;
    font-size: 1.6rem;
}

.pending-match-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.accept-pending-match {
    outline: none;
    border-radius: 50%;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    background-color: violet;
    margin-right: 1rem;
}

.accept-pending-match:hover {
    background-color: rgb(224, 104, 224);
}

.decline-pending-match {
    outline: none;
    border-radius: 50%;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(38,41,43);
}

.decline-pending-match:hover {
    background-color: rgb(23,24,25);
}

.accept-pending-match-ico {
    background: url('/Content/Images/request-accept-ico.png');
    background-size: 15px 15px;
    float: left;
    width: 15px;
    height: 15px;
    display: block;
}

.decline-pending-match-ico {
    background: url('/Content/Images/request-decline-ico.png');
    background-size: 15px 15px;
    float: left;
    width: 15px;
    height: 15px;
    display: block;
}
.pending-match-date, .pending-match-location{
    
    font-size:1.2rem;
    color:rgba(255,255,255,0.7)
}
.pending-match-msg {
    font-size: 1.4rem;
}
.pending-match-error {
    color: red;
    font-size: 1.4rem;
    margin-left: 120px;
}
.pending-match-empty {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 25rem;
}
/*Chat content*/
.chat-wrap{
    width:1000px;
    margin-left:10rem;
    padding-top:1.5rem;
}
.chat {
    height: 490px;
    background-color: rgb(44, 48, 52);
    padding-top: 1rem;
    margin-bottom:1rem;
    overflow-x:hidden;
    overflow-y:auto;
}
.chat-msg{
    display:flex;
    flex-flow:row;
    justify-content:start;
    align-items:center;
    padding:5px 5px 5px 1.5rem;
    margin-bottom:10px;
}
.chat-msg:hover {
    background-color: rgb(52, 56 ,60) !important;
}
.chat-img{
    width:50px;
    height:50px;
}
.chat-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.chat-data{
    padding-left:1.5rem;
    color:white;
    font-size:1.4rem;
}
.chat-name{
    font-weight:bold;
}
.chat-time{
    font-size:1.3rem;
    color:rgba(255,255,255,0.8);
    font-weight:normal;
}
.chat-controlls{
    height:50px;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.chat-input {
    height: 50px;
    width: 850px;
    padding-left: 5px;
    display: block;
    border-radius: 3px;
    background-color: rgb(44, 48, 52);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: #B9BBBE;
    padding: 10px;
}
.chat-send {
    height: 50px;
    width: 100px;
    background-color: violet;
    outline:none;
    color:white;
    border-style:none;
    cursor:pointer;
}
.chat-send:hover {
    background-color:rgb(224, 104, 224);
}
.loadmsg-button {
    display:block;
    padding:5px;
    margin:5px auto;
    background-color: violet;
    outline: none;
    color: white;
    border-style: none;
    cursor:pointer;
}
.loadmsg-button:hover {
    background-color: rgb(224, 104, 224);
}
/*Notifications*/
.notification {
    background-color: #ab3e03;
    color: white;
    font-size: 1rem;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    display: none;
    margin-right:5px;
}
.button-notification {
    background-color: #ab3e03;
    color: white;
    font-size: 1rem;
    border-radius: 50%;
    width: 15px;
    text-align: center;
    line-height: 15px;
    height: 15px;
    display: none;
    margin-left: 5px;
}
/*custom scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    margin-left: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(45,48, 50);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(28,30, 31);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(24, 26, 27);
}