main {
    padding: 0 !important;
}

.freeagent-wrap {
    margin-left: -25rem;
    margin-top: 10rem;
    color: white;
    text-align: center;
}
h2{
    font-size:2.5rem;
    margin-bottom:1rem;
}
h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
label {
    display:block;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
input {
    margin-bottom: 1rem;
}
select {
    background-color: rgb(35,39,42);
    color: white;
    border: none;
    padding: 5px;
    width: 200px;
    height: 40px;
    margin-bottom:1rem;
}
.edit-button {
    display: block;
    background-color: forestgreen;
    color: white;
    border: none;
    outline: none;
    margin: 1rem auto;
    font-size: 1.5rem;
    padding: 5px;
    cursor: pointer;
}

.edit-button:disabled {
    background-color: rgb(2, 58,2);
    color: rgba(255,255,255,0.7);
}

.edit-button:disabled:hover {
    background-color: rgb(2, 58,2);
    color: rgba(255,255,255,0.7);
}

.edit-button:hover {
    background-color: darkgreen;
}