@{ 
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DreamTeam-Početna</title>
    <link rel="stylesheet" href="~/Content/Css/Landing/Landing.css">
</head>
<body>
    <header>
        <div class="nav-bar">

            <div class="nav-brand">
                <div class="nav-brand-logo">
                    <img src="~/Content/Images/logo-horizontal.png">
                </div>
                <div class="nav-brand-name">
                    DreamTeam
                </div>
            </div>
            <div class="nav-links">
                <div class="nav-link"><a href="#Hero">Početna</a></div>
                <div class="nav-link"><a href="#About">O nama</a></div>
                <div class="nav-link"><a href="#Contact">Kontakt</a></div>
            </div>
        </div>
    </header>
    <section class="hero" id="Hero">
        <div class="hero-text">
            <h1>Pronađi svoj tim</h1>
            <p>
                &emsp;Želiš da igraš fudbal, ali nemaš sa kim?   Onda je ovo pravo mesto za tebe.
                Naša aplikacija ti omogućava da tražiš timove ili da kreiraš i upravljaš svojim timom i da se družiš sa ostalim igračima.
            </p>
            <div class="login-register">
                <a class="register-button" href="/Account/Register">Registruj se</a>
                <a class="login-button"href="/Account/Login">Prijavi se</a>

            </div>
        </div>

    </section>
    <section class="About" id="About">
        <h1>Neke od funkcionalnosti</h1>
        <hr>
        <div class="about-item">
            <h1>Prijatelji</h1>
            <p>&emsp;Sve je bolje uz prijatelje. Naša platforma ti omogućava da stvaraš prijateljstva i da se socijalizuješ sa ljudima putem chat-a.</p>
        </div>
        <div class="about-item">
            <h1>Timovi</h1>
            <p>&emsp;Korisniku je omogućeno da kreira i upravlja timovima. Možeš pozvati prijatelje da se pridruže tvom timu da bi igrali mečeve protiv drugih timova.</p>
        </div>
        <div class="about-item">
            <h1>Turniri</h1>
            <p>&emsp;Tvoj tim može da se priključi turniru koji je organizovan od strane administratora da bi se takmičili protiv drugih timova.</p>
        </div>
        <div class="about-item">
            <h1>Podrška</h1>
            <p>&emsp;Omogućeno je kontaktirati administratora u vezi bilo kakvih pitanja i problema sa korišćenjem aplikacije</p>
        </div>
    </section>
    <section class="Contact" id="Contact">
        <h1>Kontakt</h1>
        <div class="contact-item">
            <h2>Adresa</h2>
            <h3>Minas Tirith,Gondor</h3>
            <img class="location-img" src="~/Content/Images/Location-contact.png">
        </div>
        <div class="contact-item">
            <h2>Telefon</h2>
            <h3>+314 1592 6535</h3>
        </div>
        <div class="contact-item">
            <h2>Instagram</h2>
            <h3>@@dream_team</h3>
        </div>

    </section>

</body>
</html>
