@{ 
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DreamTeam-Home</title>
    <link rel="stylesheet" href="~/Content/Css/Landing/Landing.css">
</head>
<body>
    <header>
        <div class="nav-bar">

            <div class="nav-brand">
                <div class="nav-brand-logo">
                    <img src="~/Content/Images/logo-horizontal.png">
                </div>
                <div class="nav-brand-name">
                    DreamTeam
                </div>
            </div>
            <div class="nav-links">
                <div class="nav-link"><a href="#Hero">Home</a></div>
                <div class="nav-link"><a href="#About">About</a></div>
                <div class="nav-link"><a href="#Contact">Contact</a></div>
            </div>
        </div>
    </header>
    <section class="hero" id="Hero">
        <div class="hero-text">
            <h1>Find your team</h1>
            <p>
                &emsp;Want to play football,but you lack the people to play with?   This is the right place for you.
                Our app allows you to find,create and manage your own team and socialize with other football players.
            </p>
            <div class="login-register">
                <a class="register-button" href="/Account/Register">Register</a>
                <a class="login-button"href="/Account/Login">Login</a>

            </div>
        </div>

    </section>
    <section class="About" id="About">
        <h1>Some of the features</h1>
        <hr>
        <div class="about-item">
            <h1>Friends</h1>
            <p>&emsp;Everything is better with friends. Our platform allows you to find your friends and socialize with them with our chat function.</p>
        </div>
        <div class="about-item">
            <h1>Team</h1>
            <p>&emsp;Team feature allows user to create and manage their teams. You can invite friends or random people to join your team so you can play matches against other people.</p>
        </div>
        <div class="about-item">
            <h1>Tournaments</h1>
            <p>&emsp;Your team can join tournaments that are organized by a server administrator in order to test the strenght of your team against others.</p>
        </div>
        <div class="about-item">
            <h1>Support</h1>
            <p>&emsp;Support option allows you to contact the Administrator for any issues that you may have about the application</p>
        </div>
    </section>
    <section class="Contact" id="Contact">
        <h1>CONTACT</h1>
        <div class="contact-item">
            <h2>Adress</h2>
            <h3>Minas Tirith,Gondor</h3>
            <img class="location-img" src="~/Content/Images/Location-contact.png">
        </div>
        <div class="contact-item">
            <h2>Telephone</h2>
            <h3>+314 1592 6535</h3>
        </div>
        <div class="contact-item">
            <h2>Instagram</h2>
            <h3>@@dream_team</h3>
        </div>

    </section>

</body>
</html>
