@model List<FootballApp.WebUI.Models.TournamentViewModel>
@{
    ViewBag.Title = "Index";
}

<h2 style="color:white">Lista aktivnih turnira</h2>
<a class="create-button" href="/Tournament/Create">Nov</a>
<div class="tournament-list">
    @foreach (var t in Model)
    {
    <div class="tournament-item">
        <div>Naziv:@t.Name</div>
        <div>Runda @t.CurrentRound/@t.NumberOfRounds</div>
        <div>Učesnici:@t.CurrentNumberParticipants/@t.NumberOfParticipants  </div>
        <div>
            <a href="/Tournament/TournamentProfile/@t.Id"class="view-tournament-button">Poseti</a>
        </div>
    </div>
    }

</div>
@Styles.Render("/Content/Css/Tournament/TournamentIndex.css")
