main{
    padding:0px;
}
.header {
   padding:1rem;
   color:rgba(255,255,255,0.85);
   background-color: rgb(41,45,48);
}
.close-ticket-button {
    color: white;
    background-color: darkred;
    border: none;
    outline: none;
    padding: 2.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.close-ticket-button:hover {
    background-color: rgb(167, 2, 2);
}
.messages {
    margin-top:1rem;
    padding: 1rem;
    height: 75vh;
    width: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}
.message {
    font-size: 1.2rem;
    color: white;
    width: 500px;
    min-height: 50px;
    background-color: rgb(50,53,56);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 1rem;
   
}
.message-admin {
    font-size: 1.2rem;
    color: white;
    width: 500px;
    min-height: 50px;
    background-color: rgb(41,45,48);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.message-input{
    margin-left:1rem;
    margin-top:1rem;
}
.message-input input {
    height: 35px;
    width: 500px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: #B9BBBE;
    padding: 10px;

}
.message-input button{
    margin-left:5rem;
    height:35px;
    width:70px;
    color:white;
    background-color:forestgreen;
    outline:none;
    border:none;
    cursor:pointer;
}
.message-input button:hover{
    background-color:darkgreen;
}
    /*custom scrollbar*/
    ::-webkit-scrollbar {
        width: 10px;
        margin-left: 3px;
    }

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(45,48, 50);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(28,30, 31);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(24, 26, 27);
}