@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "";
}
<div class="error-wrap">
    <div class="error">

        <img src="~/Content/Images/logo-pink.png" />
        <h1 class="text-danger">Ooops...Something went wrong..</h1>
        <a href="/Home/">Click here to return to Home page.</a>
    </div>
</div>

@Styles.Render("~/Content/Css/Error/Error.css")