
@{
    ViewBag.Title = "Create";
}
<div class="freeagent-wrap">

    <h2>Profil slobodnog agenta</h2>
    <p> Kako bi kreirali profil molimo vas izaberite zemlju i grad ispod.</p>
    <select id="country-select">
        <option disabled selected>Izaberi zemlju</option>
        <option value="Srbija">Srbija</option>
        <option value="Rusija">Rusija</option>
        <option value="Engleska">Engleska</option>
        <option value="Nemačka">Nemačka</option>
    </select>
    <select id="city-select" disabled>
        <option disabled selected >Izaberi grad</option>
    </select>
    <p id="error-msg"></p>
    <button class="create-button" id="create-button" disabled>Napravi</button>
</div>

@Styles.Render("~/Content/Css/FreeAgent/Create.css")
@Scripts.Render("~/Scripts/FreeAgent/create.js")